h1{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 96px;
}

.title-color{
  color: #FD665E;
}
.big_block
{
    display: grid;
    grid-template-columns: repeat(2,30%);
    grid-template-rows: 5fr ;
  
}
.first_pic
{
    width: 765px;
    height: 480px;
    grid-column: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.small_block
{
    grid-column: 1;
display: grid;
grid-template-rows: repeat(2,15%);
grid-template-columns: 5fr;
}
.animate_btn
{

padding-top:8px ;
padding-right: 32px;
padding-bottom: 8px;
padding-left: 32px;

background-color: #FD665E;

}


h2
{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
  }
  .second_block
  {
      display: grid;
      grid-template-columns: repeat(2,30%);
      grid-template-rows: 500px ;
  }
  .img2
  {
width: 535px; 
height: 610px;
  }
  .second_small_block
  {
      display: grid;
      grid-template-rows: repeat(4,30%);
    grid-template-columns: 1000px;
  }
  .text
  {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
  }
  .ppict_block
  {
    grid-template-columns: repeat(2,300px);
    grid-template-rows: repeat(2,300px);
  }