h1{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 96px;
}

.title-color{
  color: #FD665E;
}
.big_block
{
    display: grid;
    grid-template-columns: repeat(2,30%);
    grid-template-rows: 5fr ;
  
}
.first_pic
{
    width: 765px;
    height: 480px;
    grid-column: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.small_block
{
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(2,15%);
    grid-template-columns: 5fr;
}
.animate_btn
{

    padding-top:8px ;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 32px;

    background-color: #FD665E;
    border: none;
}
.text5
{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
  padding-left: 165px;
}

h2
{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
  }
  .second_block
  {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: auto;
      gap: 15px;
      align-items: start;
  }
  .img2
  {
    width: auto; 
    height: auto;
    max-height: 610px;
  }
  .second_small_block
  {
      display: grid;
      grid-template-rows: auto repeat(4,1fr);
      grid-template-columns:  1fr;
      gap: 45px;
      align-items: center;
  }
  .text
  {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
  }
  .ppict_block
  {
    display: grid;
    grid-template-columns: 50px 1fr ;
    grid-template-rows: auto  ;
    gap:  30px;
    align-items: start;
  }
  .text2
  {
    
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 36px;

  }
  .img1
  {
    width: auto;
    height:auto ;
  }
  .text3
  {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 64px;
    letter-spacing: -2%;
    line-height: 100%;
  }
  .second_block
  {
    padding-left: 136px;
     padding-top: 160px;
  }
  .second_small_block
  {
    padding-left: 10%;
  }
  .mob2
  {
    margin-top: 140px;
  }
  .mob3
  {
   display: grid; 
   grid-template-columns:auto auto;
    grid-template-rows:  auto; 
    padding-left: 405px; 
    padding-top: 64px;
  }
  .mob6
  {
   display: grid;
    grid-template-columns: auto; 
    grid-template-rows:192px auto;
     padding-top: 194px; gap: 48px;
      padding-left: 48px;
       padding-right: 136px;
  }
  .mob8
  {
    padding-top: 128px;
    padding-left: 136px;
  }
  .mob9
  {
   display: grid;
    grid-template-columns:64px 90px 28px 77px  96px auto;
     grid-template-rows: auto; 
     padding-top: 160px; gap: 40px;

  }
  @media screen and (max-width: 390px)
   {
    h1{
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      font-size: 48px;
      text-align: center;
    }
    .header
    {

    }
.big_block
{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 40px ;
}
.small_block
{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.first_pic
{
  width: 342px;
  height: auto;
}
.img2
{
  width: 342px;
  height: 349px;

}
.second_block
{
 
      display: grid;
      grid-template-columns:auto;
      grid-template-rows: auto auto auto auto auto auto;
      gap: 15px;
      align-items: start;
  padding-left: 0px;
}

.text
{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
}
.text5
{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  padding-left: 0px;
}
.mob3
  {
   display: grid; 
   grid-template-columns:auto;
    grid-template-rows:  auto ; 
    padding-left: 0px; 
    padding-top: 0px;
  }
  .img1
  {
    width: 342px;
    height: 463px;
  }
  .mob6
  {
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows:auto auto;
     padding-top: 0px; gap: 24px;
      padding-left: 0px;
       padding-right: 0px;
  }
  .text3
  {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    letter-spacing: -2%;
    line-height: 100%;
    text-align: center;
  }
.mob7
{
  padding-top: 144px; 
  display: grid;
   grid-auto-rows: auto auto auto;
    gap: 48px;
}
.mob8
  {
    padding-top: 128px;
    padding-left: 0px;
  }
  .mob9
  {
   display: grid;
    grid-template-columns: auto;
     grid-template-rows: auto auto auto auto auto; 
     padding-top: 48px; gap: 15px;
     
  }
   }