h1{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 96px;
}

.title-color{
  color: #FD665E;
}
.big_block
{
    display: grid;
    grid-template-columns: repeat(2,30%);
    grid-template-rows: 5fr ;
  
}
.first_pic
{
    width: 765px;
    height: 480px;
    grid-column: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.small_block
{
    grid-column: 1;
display: grid;
grid-template-rows: repeat(2,15%);
grid-template-columns: 5fr;
}
.animate_btn
{

padding-top:8px ;
padding-right: 32px;
padding-bottom: 8px;
padding-left: 32px;

background-color: #FD665E;
border: none;
}


h2
{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
  }
  .second_block
  {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: auto;
      gap: 15px;
      align-items: start;
  }
  .img2
  {
width: auto; 
height: auto;
max-height: 610px;
  }
  .second_small_block
  {
      display: grid;
      grid-template-rows: auto repeat(4,1fr);
    grid-template-columns:  1fr;
    gap: 45px;
    align-items: center;
  }
  .text
  {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
  }
  .ppict_block
  {
    display: grid;
    grid-template-columns: 50px 1fr ;
    grid-template-rows: auto  ;
    gap:  30px;
    align-items: start;
  }
  .text2
  {
    
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
font-size: 36px;

  }
  .text3
  {
        font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 64px;
    letter-spacing: -2%;
    line-height: 100%;
  }